/*
---
description: Default theme inspired by MooTools code coloring.

license: MIT-style

authors:
- Jose Prado

...
*/
.standardLighter {
	font-family: Monaco, Courier, Monospace;
	font-size: 12px;
	overflow: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -pre-wrap;
	word-wrap: break-word;
}
.standardLighter span {
	color: black;
	font-size: 12px;
}
.standardLighter .standardnum {
	background-color: #f2f2f2;
	color: #939393;
	font-size: 10px;
	text-align: center;
	width: 30px;
}
.standardLighter .standardline {
	background-color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #939393;
	padding: 0 3px 0 10px;
	padding-left: 15px;
	padding-right: 5px;
}
.standardLighter .standardfirst { padding-top: 5px; }
.standardLighter .standardlast  { padding-bottom: 5px; }
.standardLighter .alt {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #F4F8FC;
}

/** Pre specific styles */
pre.standardLighter {
	background-color: #fff;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/** OL specific styles */
ol.standardLighter {
	color: #939393;
	font-size: 10px;
	list-style: decimal-leading-zero;
	background-color: #f2f2f2;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}
ol.standardLighter li { margin-left: 40px; }

/** Div specific styles */
div.standardLighter .standardnum {
	display: block;
	float: left;
}
div.standardLighter .standardline {
	display: block;
	margin-left: 30px;
	min-height: 12px;
}
div.standardLighter div {
	clear: left;
	overflow: auto;
	background-color: #f2f2f2;
}

/** Table specific styles */
table.standardLighter .standardnum {}
table.standardLighter .standardline {}
	
/** Symbol styles */
.standardLighter .de1 {}
.standardLighter .de2 {}
.standardLighter .kw1 { color: #1b609a; }
.standardLighter .kw2 { color: #9a6f1b; }
.standardLighter .kw3 { color: #784e0c; }
.standardLighter .kw4 { color: #9a6f1b; }
.standardLighter .co1 { color: #888888; }
.standardLighter .co2 { color: #888888; }
.standardLighter .st0 { color: #489a1b; }
.standardLighter .st1 { color: #489a1b; }
.standardLighter .st2 { color: #489a1b; }
.standardLighter .nu0 { color: #70483d; }
.standardLighter .me0 { color: #666666; }
.standardLighter .me1 { color: #666666; }
.standardLighter .br0 { color: #444444; }
.standardLighter .sy0 { color: #444444; }
.standardLighter .es0 { color: #444444; }
.standardLighter .re0 { color: #784e0c; }
