html {
	position: relative;
	min-height: 100%;
}

body {
	margin-top: 60px;
	margin-bottom: 120px;
    background-color: #f5f5f5;
}
body#frontpage{
	margin-top: 50px;
}

/* FOOTER */
#footer {
    padding: 40px 0px 20px 0px;
}

#footer a {
	color: #449ce7 !important;
}

#footer a:hover {
	color: #3071a8;
}

#footer .container {
	
}


/* CONTENT AREA
------------------------------ */
#content{
    background-color: #ffffff;
}

/* TOPNAVV */
#navbar-wrapper {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;
	z-index: 100;
	
	background-color: #3f638d;
	background-image: url(img/noise.png);
	background-repeat: repeat;
	background-position: 0px 0px;
}

.navbar {
	/*background-color: #010101 !important;
	border-radius: 0px !important;*/
}

.nav>li>a {
	/*color: #d0d0d0 !important;*/
}

.navbar-brand {
	/'color: #ffffff !important;*/
}

.navbar-right {
	padding: 0px 20px 0px 0px;
}

/* dropdown without js */
.nav>li:hover ul {
	display: block;
}

/* CONTENT */
.dpage-header {
	display: block;
	width: 100%;
	height: auto;
	background-color: #3f638d;
	padding: 10px 0px 20px 0px;
	color: #f0f0f0 !important;
	border-bottom: solid 1px #202f65;
	background-image: url(img/noise.png);
	background-repeat: repeat;
	background-position: 0px 0px;
}
.dpage-header h1{
	display: inline;
	padding: 5px 10px 5px 10px;
	border-radius: 8px;
	color: #ffffff !important;
	background-color: rgba(0,0,0,0.4);
	border: solid 1px rgba(0,0,0,0.2);
}
.d small{
	color: #c0c0c0 !important;
}

h2,h3,h4 {
	clear: left;
}
.container blockquote{
	font-size: 13px;
	font-weight: normal;
	border-radius: 8px;
}

/* CLOUD BUILDER
-------------------------------------------------- */
#builder-form .checkbox {
	display: block;
	padding: 3px 0px 3px 30px;
}

#builder-form .checkbox label {
	color: #707070;
}

#builder-form a {
	cursor: pointer;
}

/* GITHUB-BUTTONS
-------------------------------------------------- */
#githubbutton1,#githubbutton2 {
	padding-top: 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 400px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/* Featurettes
------------------------- */
.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.featurette p.lead {
	color: #a0a0a0;
}