/*
---
description: EnlighterJS Theme-Base - All Themes are derived from these styles!

license: MIT-style

authors:
  - Andi Dittrich
...
*/

/* BASE Styles */
.EnlighterJS, .EnlighterJSWrapper{
	font-family: Monaco, Courier, Monospace;
	font-size: 10px;
	line-height: 16px;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0px;
	padding: 0px;
}

/* Wrapper/Container - used to display raw button*/
.EnlighterJSWrapper{
	position: relative;
}

/* Inline specific styles */
span.EnlighterJS {
	padding: 3px 5px 1px 5px;
	border: solid 1px #e0e0e0;
	color: #333333;
	background-color: #f7f7f7;
	margin: 0px 2px 0px 2px;
}

/* LIST specific styles */
ol.EnlighterJS, ul.EnlighterJS{
	color: #939393;
	font-size: 10px;
	background-color: #f2f2f2;
	color: #939393;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	text-indent: 0px;
	list-style: decimal-leading-zero outside;
}

/* line styles */
ol.EnlighterJS li, ul.EnlighterJS li {
	margin: 0px;
	background-color: #ffffff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0px 5px 0px 14px;
	line-height: 14px;
	color: #939393;
	list-style: none;
	font-size: inherit;
}
ol.EnlighterJS li{
	list-style: decimal-leading-zero outside;
	margin: 0px 0px 0px 40px;
	border-left: 1px solid #939393;
}

/* no-linenumber style */
ul.EnlighterJS, ul.EnlighterJS li{
	list-style: none;
	display: block;
}
ul.EnlighterJS li:AFTER{
	content: ' ';
}

/* top+bottom offsets */
ol.EnlighterJS li.firstline, ul.EnlighterJS li.firstline{
	padding-top: 5px;
}
ol.EnlighterJS li.lastline, ul.EnlighterJS li.lastline{ 
	padding-bottom: 5px; 
}

/* special line highlight color */
ol.EnlighterJS li.specialline, ul.EnlighterJS li.specialline {
	background-color: #F4F8FC;
}

/* hover effect */
ol.EnlighterJS li.hoverEnabled:hover, ul.EnlighterJS li.hoverEnabled:hover{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #F4F8FC;
}

/* default symbol style */
.EnlighterJS span {
	color: #000000;
	margin: 0px;
	padding: 0px;
	line-height: inherit;
	font-size: 12px;
}

/* TAB Panel */
.EnlighterJSTabPane .controls {
}
.EnlighterJSTabPane .controls ul{
	margin: 0px 0px 0px 40px;
	padding: 0px;
}
.EnlighterJSTabPane .controls li {
	float: left;
	display: block;
	list-style: none;
	padding: 3px 10px 3px 10px;
	margin: 0px 5px 0px 5px;
	background-color: #f2f2f2;
	border-radius: 5px;
	font-size: 12px;
	color: #000000;
	font-family: Courier, monospace;
	cursor: pointer;
}

.EnlighterJSTabPane .controls li:hover {
	background-color: #e5e5e5;
}

.EnlighterJSTabPane .controls .selected,.EnlighterJSTabPane .controls .selected:hover{
	background-color: #ccffcc;
}
.EnlighterJSTabPane .controls .clearfixList{
	clear: left;
}
.EnlighterJSTabPane .pane {
	padding: 5px 0px 0px 0px;
	clear: left;
}

/* Raw Button - show/hide actions */
.EnlighterJSRawButton{
	display: none;
	position: absolute;
	z-index: 10;
	right: 10px;
	top: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	color: #717171;
	cursor: pointer;
	font-size: 12px;
	padding: 3px 7px 3px 7px;
	border: solid 1px #e0e0e0;
}
.EnlighterJSRawButton:HOVER{
	background-color: #f0f0f0;
}
.EnlighterJSRawButton::AFTER{
	content: 'Toggle RAW Code';
}
.EnlighterJSWrapper:hover .EnlighterJSRawButton{
	display: block;
}
.EnlighterJSWrapper pre{
	font-family: inherit;
	background-color: #ffffff;
	padding: 5px 5px 5px 10px;
	line-height: 18px;
	font-size: 12px;
	color: #444444;
	border: none;
	border-radius: 0px;
}