/*
---
description: EnlighterJS Theme-Base - All Themes are derived from these styles! Don't edit this file if you wan't to change styles! Use a derived theme!

license: MIT-style

authors:
  - Andi Dittrich
...
*/
/* Font Classes
----------------------------------------------------------------------------------- */
/* BASE Styles
----------------------------------------------------------------------------------- */
.EnlighterJS,
.EnlighterJSWrapper {
  font-family: "Source Code Pro", "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 10px;
  line-height: 16px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0px;
  padding: 0px;
}
/* Wrapper/Container - contains all elements of an instance */
.EnlighterJSWrapper {
  position: relative;
  /* RAW Styles */
  /* Show Toolbar on Mouseover */
}
.EnlighterJSWrapper pre {
  font-family: inherit;
  background-color: #ffffff;
  padding: 5px 5px 5px 10px;
  margin: 0px 0px 20px 0px;
  line-height: 18px;
  font-size: 12px;
  color: #444444;
  border: none;
  border-radius: 0px;
  clear: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.EnlighterJSWrapper:hover .EnlighterJSToolbar {
  display: block;
}
/* Highlighted Object (List or Span)
----------------------------------------------------------------------------------- */
.EnlighterJS {
  /* Inline specific styles */
  /* LIST specific styles */
  /* Line Number Styles */
  /* default symbol style */
}
span.EnlighterJS {
  padding: 3px 5px 1px 5px;
  border: solid 1px #e0e0e0;
  color: #333333;
  background-color: #f7f7f7;
  margin: 0px 2px 0px 2px;
}
ol.EnlighterJS,
ul.EnlighterJS {
  display: block;
  font-size: 10px;
  background-color: #f2f2f2;
  color: #939393;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  text-indent: 0px;
  list-style: none;
  /* line styles */
}
ol.EnlighterJS li,
ul.EnlighterJS li {
  margin: 0px;
  background-color: #ffffff;
  border: solid 0px #ffffff;
  padding: 0px 5px 0px 14px;
  line-height: 14px;
  color: #939393;
  list-style: none;
  font-size: inherit;
  /* special line highlight color */
  /* top+bottom offsets */
}
ol.EnlighterJS li .specialline,
ul.EnlighterJS li .specialline {
  background-color: #F4F8FC;
}
ol.EnlighterJS li:FIRST-CHILD,
ul.EnlighterJS li:FIRST-CHILD {
  padding-top: 5px;
}
ol.EnlighterJS li:LAST-CHILD,
ul.EnlighterJS li:LAST-CHILD {
  padding-bottom: 5px;
}
ol.EnlighterJS li:AFTER,
ul.EnlighterJS li:AFTER {
  content: ' ';
}
ol.EnlighterJS li {
  list-style: decimal-leading-zero outside;
  margin-left: 40px;
  padding-left: 20px;
}
.EnlighterJS span {
  color: #000000;
  margin: 0px;
  padding: 0px;
  line-height: inherit;
  font-size: 12px;
  font-family: inherit;
}
/* TAB Panel - containing "buttons" to switch between multiple codeblocks
----------------------------------------------------------------------------------- */
.EnlighterJSTabPane {
  /* Button List */
}
.EnlighterJSTabPane .controls ul {
  margin: 0px 0px 0px 40px;
  padding: 0px;
}
.EnlighterJSTabPane .controls li {
  display: inline-block;
  list-style: none;
  padding: 3px 10px 3px 10px;
  margin: 0px 5px 0px 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 12px;
  color: #000000;
  font-family: inherit;
  cursor: pointer;
}
.EnlighterJSTabPane .controls .pane {
  padding: 5px 0px 0px 0px;
  clear: left;
}
/* Toolbar - containing buttons
----------------------------------------------------------------------------------- */
.EnlighterJSToolbar {
  position: absolute;
  display: none;
  right: 0px;
  top: 0px;
  height: 40px;
  width: auto;
  padding: 15px;
  /* Button Container */
}
.EnlighterJSToolbar > a {
  float: right;
  display: block;
  border-radius: 3px;
  z-index: 10;
  background-color: #ffffff;
  color: #717171;
  cursor: pointer;
  font-size: 12px;
  padding: 0px;
  border: solid 1px #e0e0e0;
  margin: 0px 0px 0px 8px;
  text-decoration: none;
  width: 23px;
  height: 23px;
  background-position: 0px 0px;
  background-size: contain;
  font-family: inherit;
  /* Show Toolbar on MouseOver */
  /* CLear Float Layout */
}
.EnlighterJSToolbar > a:HOVER {
  text-decoration: none;
  border-color: #b0b0b0;
}
.EnlighterJSToolbar > a .clear {
  clear: right;
  content: ' ';
  display: block;
}
/* Button Icons */
.EnlighterJSWindowButton {
  background-image: url("data:image/gif;base64,R0lGODlhLgAuAKIAADtJcYuWq6Wxw/L7/9Xz/+z6/////wAAACwAAAAALgAuAAAD02i63P4wykmrvTjrzbv/YCiOZCacaKquace+sOAKRG3feH7Oee/vnJNveANuhLWAcslsOpkYJOFJrQaitGSAyFVibUou0XuRhgmFtHrNXpMt5i26TWe/K/FaHQCoF+4UeXNtfH6AE4J7fXWHEol0hYxXZVlTcoqGk3CVZ5hsA6CNEY98paanoAOiEKSnrnypqw+PhIt0sg60bJG3mnicl5C2bbgNumu8xL6BKZ3CmVgozrXQHNN+vR3X2HbLGNvcasURVuVQ1ubmJevs7e7v8PHy7QkAOw==");
}
.EnlighterJSRawButton {
  background-image: url("data:image/gif;base64,R0lGODlhLgAuALMAADtJcez6/////7e3t6urq52dnXt7e3p6enFxcW1tbWdnZ2VlZQAAAAAAAAAAAAAAACwAAAAALgAuAAAE4lDISau9OOvNu/9gKI5kaZ6Zoa5sy6KTK7uwNN9qLahB7/+/gjCH4gGPPWGBeDICntBoj0AdGpqGXnQLmFaXV5MRCaQSrKfDgXwcuL/qA0nNBroHcPV8Xe/rR3R9dX8iCAiCdYYkhohsiiOMjUiPhYeSR5QhkVycUj2ZIJudnT6gH5GXP6YeCQmpQK0kra8/sSOzAaNdbLYiuLp1vSG4tAHCIAoKxT3JJMnLAc0jz8vSItS6nD7WIQsLWtlbPt4k3tDkI+bL6CLqxezd3vLz9PX05fb5+gs6/f7/AAMKHEgQQwQAOw==");
}
.EnlighterJSInfoButton {
  background-image: url("data:image/gif;base64,R0lGODlhLgAuALMAAL7C0MvO2aSqvbG2xjtJcUhVelVhhGJtjYmSqtjb4/Lz9m96l3yGoJaes+Xn7P///ywAAAAALgAuAAAEqvDJSau9OOvNu/9gKI5kaZ5o6ilB675wkKhSQNx4rhMN/Qi7IG7gQwiFAd/hGPQ9doeFdDpl+BI7pwagM2gzwJz1e1noBOSLQQdIW3Yz98Smo9oRzjATt3A29jloPmaAN0Q+BYU3cSoOOzEvTnQ4BXIUejd9lhJGOT2bD0s5h5uPoFg6oA9cOQWQLg4+mIBtNISKjClrigROvASaKpOFeKrGx8jJysvMzcgRADs=");
}
