/*
---
description: SyntaxHighlighter inspired theme.

license: MIT Style X11 License

authors:
  - Andi Dittrich
  
styles:
 base:
   font-family: Consolas, "Source Code Pro", "Courier New", Monospace
   font-size: 15px
   color: '#000000'
   background-color: '#f8f8f8'
 line:
   font-family: Consolas, "Source Code Pro", "Courier New", Monospace
   font-size: 14px
   line-height: 20px
   color: '#505050'
   odd: '#ffffff'
   even: '#f8f8f8'
 raw:
   font-family: Consolas, "Source Code Pro", "Courier New", Monospace
   font-size: 15px
   line-height: 20px
   color: '#000000'
   background-color: '#ffffff'   
 hover:
   background-color: '#ddf0dd'
 specialline:
   background-color: '#edf9ec'
...
*/

/* line number background */
ol.classicEnlighterJS, ul.classicEnlighterJS{
	background-color: #f8f8f8;
}
/* borders on top&botton */
.classicEnlighterJS, .classicEnlighterJSWrapper pre{
	border: 1px solid #e8e8e2;
	font-family: Consolas, "Source Code Pro", "Courier New", Monospace;
}

ol.classicEnlighterJS li, ul.classicEnlighterJS li{
	border: none;
	border-left: solid 4px #52ce52;
	line-height: 20px;
	color: #505050;
	font-size: 14px;
	background-color: #ffffff;
}
ol.classicEnlighterJS li.even, ul.classicEnlighterJS li.even{
	background-color: #f8f8f8;
}

/* inlline container style */
span.classicEnlighterJS{
	background-color: transparent;
	border: none;
}

/* hover color */
ol.classicEnlighterJS li.hoverEnabled:hover, ul.classicEnlighterJS li.hoverEnabled:hover{
	border: none;
	border-left: solid 4px #52ce52;
	background-color: #ddf0dd;
}

/* special line highlight color */
ol.classicEnlighterJS li.specialline, ul.classicEnlighterJS li.specialline {
	background-color: #edf9ec;
	border-left-color: #3fa03f;
}

/* non leading zero */
ol.classicEnlighterJS {
	list-style-type: decimal;
}

.classicEnlighterJS span{
	font-size: 15px;
}

/** Symbol styles */
.classicEnlighterJS .de1 { background-color: #e0e010; font-weight: bold; }
.classicEnlighterJS .de2 { background-color: #e0e010; font-weight: bold; }
.classicEnlighterJS .kw1 { color: #066da1; font-weight: bold; }
.classicEnlighterJS .kw2 { color: #404247; font-weight: bold; }
.classicEnlighterJS .kw3 { color: #d53aa9; }
.classicEnlighterJS .kw4 { color: #404247; }
.classicEnlighterJS .co1 { color: #888888; }
.classicEnlighterJS .co2 { color: #888888; }
.classicEnlighterJS .st0 { color: #2d47e6; }
.classicEnlighterJS .st1 { color: #2d47e6; }
.classicEnlighterJS .st2 { color: #d53aa9; font-weight: bold; }
.classicEnlighterJS .nu0 { color: #d53aa9; }
.classicEnlighterJS .me0 { color: #404247; }
.classicEnlighterJS .me1 { color: #404247; }
.classicEnlighterJS .br0 { color: #444444; }
.classicEnlighterJS .sy0 { color: #444444; }
.classicEnlighterJS .es0 { color: #444444; }
.classicEnlighterJS .re0 { color: #009926; }

/* Raw Code Pane */
.classicEnlighterJSWrapper pre{
	background-color: #ffffff;
	font-size: 15px;
	color: #000000;
	line-height: 20px;
}

/* Button Styles  */
.classicEnlighterJSWrapper .EnlighterJSToolbar > a{
	border-radius: 0px;
}

/* Tab Styles */
.classicEnlighterJSTabPane .controls{
	background-color: #f8f8f8;
	height: 31px;
	border: 1px solid #e8e8e2;
	border-bottom-width: 0px;
}
.classicEnlighterJSTabPane .controls ul{
	margin: 0px 0px 0px 35px;
}
.classicEnlighterJSTabPane .controls li{
	border-radius: 0px;
	font-size: 15px;
	font-family: Consolas, "Source Code Pro", "Courier New", Monospace;
	background-color: transparent;
	line-height: 20px;
	padding: 5px 10px 5px 10px;
}
.classicEnlighterJSTabPane .controls li.selected, .classicEnlighterJSTabPane .controls li.selected:hover{
	background-color: #52ce52;
	color: #f9f9f9;
	font-weight: bold;
}
.classicEnlighterJSTabPane .pane{
	padding: 0px;
}
.classicEnlighterJSTabPane .classicEnlighterJS{
	border-top-width: 0px;
} 