/*
---
description: Default theme inspired by MooTools code coloring.

license: MIT-style

authors:
- Jose Prado
- Andi Dittrich

...
*/
/* tab panel */
.EnlighterJSTabPane .controls{
	margin: 0px 0px 0px 40px;
	padding: 0px;
}
.EnlighterJSTabPane .controls li{
	float: left;
	display: block;
	list-style: none;
	padding: 3px 10px 3px 10px;
	margin: 0px 5px 0px 5px;
	background-color: #f2f2f2;
	border-radius: 5px;
	font-size: 12px;
	color: #000000;
	font-family: Courier, monospace;
	cursor: pointer;
}
.EnlighterJSTabPane .controls li:hover{
	background-color: #e5e5e5;
}
.EnlighterJSTabPane .controls .selected, .EnlighterJSTabPane .controls .selected:hover{
	background-color: #ccffcc;
}
.EnlighterJSTabPane .pane{
	padding: 5px 0px 0px 0px;
	clear: left;
}

/* default styles */
.EnlighterJSRendered {
	font-family: Monaco, Courier, Monospace;
	font-size: 10px;
	line-height: 16px;
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0px;
	padding: 0px;
}

/* Inline specific styles */
pre.EnlighterJSRendered {
	background-color: #fff;
	padding: 5px 5px 5px 15px;
}

/* LIST specific styles */
ol.EnlighterJSRendered {
	color: #939393;
	font-size: 10px;
	background-color: #f2f2f2;
	color: #939393;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	text-indent: 0px;
	list-style: decimal-leading-zero outside;
}
ol.EnlighterJSRendered li {
	margin: 0px 0px 0px 40px; 
	background-color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #939393;
	padding: 0px 5px 0px 14px;
	line-height: 14px;
	color: #939393;
	list-style: decimal-leading-zero outside;
	font-size: inherit;
}

ol.EnlighterJSRendered li.firstline {
	padding-top: 5px;
}
ol.EnlighterJSRendered li.lastline  { 
	padding-bottom: 5px; 
}

/* special line highlight color */
ol.EnlighterJSRendered li.specialline {
	background-color: #F4F8FC;
}

ol.EnlighterJSRendered li.hoverEnabled:hover {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #F4F8FC;
}

/* default symbol style */
.EnlighterJSRendered span {
	color: #000000;
	font-size: inherit;
	margin: 0px;
	padding: 0px;
	line-height: inherit;
	font-size: 12px;
}

/* theme symbol styles */
.EnlighterJSRendered .de1 {}
.EnlighterJSRendered .de2 {}
.EnlighterJSRendered .kw1 { color: #1b609a; }
.EnlighterJSRendered .kw2 { color: #9a6f1b; }
.EnlighterJSRendered .kw3 { color: #784e0c; }
.EnlighterJSRendered .kw4 { color: #9a6f1b; }
.EnlighterJSRendered .co1 { color: #888888; }
.EnlighterJSRendered .co2 { color: #888888; }
.EnlighterJSRendered .st0 { color: #489a1b; }
.EnlighterJSRendered .st1 { color: #489a1b; }
.EnlighterJSRendered .st2 { color: #489a1b; }
.EnlighterJSRendered .nu0 { color: #70483d; }
.EnlighterJSRendered .me0 { color: #666666; }
.EnlighterJSRendered .me1 { color: #666666; }
.EnlighterJSRendered .br0 { color: #444444; }
.EnlighterJSRendered .sy0 { color: #444444; }
.EnlighterJSRendered .es0 { color: #444444; }
.EnlighterJSRendered .re0 { color: #784e0c; }
