<div class="EnlighterJSTabPane classicEnlighterJSTabPane">
	<div class="controls">
		<ul>
			<li class="selected">Javascript1</li>
			<li>TypeScript ?!</li>
			<li>js</li>
		</ul>
		<div class="clearfixList"></div>
	</div>
	<div class="pane">
		<div class="EnlighterJSWrapper classicEnlighterJSWrapper" style="display: block;">
			<ul class="classicEnlighterJS EnlighterJS">
				<li class="firstline odd hoverEnabled"><span class="unknown">window</span><span class="sy0">.</span><span class="me0">addEvent</span><span class="br0">(</span><span class="st0">'domready'</span><span class="sy0">,</span><span class="unknown"> </span><span class="kw2">function</span><span class="br0">(</span><span class="br0">)</span><span class="br0">{</span><span class="unknown"></span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span><span class="co1"> // metadata config available ? -&gt; autoinit</span><span class="unknown"></span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span><span class="kw2">var</span><span class="unknown"> m </span><span class="sy0">=</span><span class="unknown"> document</span><span class="sy0">.</span><span class="me0">getElement</span><span class="br0">(</span><span class="st0">'meta[name="EnlighterJS"]'</span><span class="br0">)</span><span class="sy0">;</span><span class="unknown"></span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span><span class="co1"> // check instance</span><span class="unknown"></span></li>
				<li class="specialline even hoverEnabled"><span class="unknown"> </span><span class="kw1">if</span><span class="unknown"> </span><span class="br0">(</span><span class="sy0">!</span><span class="unknown">m</span><span class="br0">)</span><span class="br0">{</span><span class="unknown"></span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span><span class="kw1">return</span><span class="sy0">;</span><span class="unknown"></span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span><span class="br0">}</span><span class="unknown"></span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span><span class="co1"> // create new options object</span><span class="unknown"></span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span><span class="kw2">var</span><span class="unknown"> options </span><span class="sy0">=</span><span class="unknown"> </span><span class="br0">{</span><span class="unknown"></span></li>
				<li class="specialline even hoverEnabled"><span class="unknown"> language</span><span class="sy0">:</span><span class="unknown"> m</span><span class="sy0">.</span><span class="me0">get</span><span class="br0">(</span><span class="st0">'data-language'</span><span class="br0">)</span><span class="unknown"> </span><span class="sy0">|</span><span class="sy0">|</span><span class="unknown"> </span><span class="st0">'generic'</span><span class="sy0">,</span><span class="unknown"></span></li>
				<li class="specialline odd hoverEnabled"><span class="unknown"> theme</span><span class="sy0">:</span><span class="unknown"> m</span><span class="sy0">.</span><span class="me0">get</span><span class="br0">(</span><span class="st0">'data-theme'</span><span class="br0">)</span><span class="unknown"> </span><span class="sy0">|</span><span class="sy0">|</span><span class="unknown"> </span><span class="st0">'Enlighter'</span><span class="sy0">,</span><span class="unknown"></span></li>
				<li class="specialline even hoverEnabled"><span class="unknown"> indent</span><span class="sy0">:</span><span class="unknown"> m</span><span class="sy0">.</span><span class="me0">get</span><span class="br0">(</span><span class="st0">'data-indent'</span><span class="br0">)</span><span class="sy0">.</span><span class="me0">toInt</span><span class="br0">(</span><span class="br0">)</span><span class="unknown"> </span><span class="sy0">|</span><span class="sy0">|</span><span class="unknown"> </span><span class="sy0">-</span><span class="nu0">1</span><span class="sy0">,</span><span class="unknown"></span></li>
				<li class="specialline odd hoverEnabled"><span class="unknown"> hover</span><span class="sy0">:</span><span class="unknown"> m</span><span class="sy0">.</span><span class="me0">get</span><span class="br0">(</span><span class="st0">'data-hover'</span><span class="br0">)</span><span class="unknown"> </span><span class="sy0">|</span><span class="sy0">|</span><span class="unknown"> </span><span class="st0">'hoverEnabled'</span><span class="unknown"></span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span><span class="br0">}</span><span class="sy0">;</span><span class="unknown"></span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span><span class="co1"> // selector available ? if not, match all pre-tags</span><span class="unknown"></span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span><span class="kw2">var</span><span class="unknown"> blockSelector </span><span class="sy0">=</span><span class="unknown"> m</span><span class="sy0">.</span><span class="me0">get</span><span class="br0">(</span><span class="st0">'data-selector-block'</span><span class="br0">)</span><span class="unknown"> </span><span class="sy0">|</span><span class="sy0">|</span><span class="unknown"> </span><span class="st0">'pre'</span><span class="sy0">;</span><span class="unknown"></span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span></li>
				<li class="odd hoverEnabled"><span class="unknown"> </span><span class="co1"> // selector available ? if not, match all code-tags</span><span class="unknown"></span></li>
				<li class="even hoverEnabled"><span class="unknown"> </span><span class="kw2">var</span><span class="unknown"> inlineSelector </span><span class="sy0">=</span><span class="unknown"> m</span><span class="sy0">.</span><span class="me0">get</span><span class="br0">(</span><span class="st0">'data-selector-inline'</span><span class="br0">)</span><span class="unknown"> </span><span class="sy0">|</span><span class="sy0">|</span><span class="unknown"> </span><span class="st0">'code'</span><span class="sy0">;</span><span class="unknown"></span></li>
				<li class="lastline odd hoverEnabled"><span class="unknown"></span><span class="br0">}</span><span class="br0">)</span><span class="sy0">;</span></li>
			</ul>
			<pre style="display: none;">window.addEvent('domready', function(){
			
			</pre>
			
			<div class="EnlighterJSToolbar">
				<div class="EnlighterJSRawButton"></div>
				<div class="EnlighterJSWindowButton"></div>
				<span class="clear"></span>
			</div>
		</div>
	</div>
</div>